@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #2f2f2f;
  --white: white;
}

html {
  font-family: "Inter", sans-serif;
  transition: backgroundColor 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  color: #2f2f2f;
  scroll-behavior: smooth;
  transition: backgroundColor 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode {
  background-color: var(--dark);
  color: var(--white);
}

.light-mode {
  background-color: white;
  color: #2f2f2f;
}

.dark-mode .active {
  border-color: white;
}

.dark-mode p {
  color: #c0c5d0;
}

.dark-mode section ul li {
  color: #c0c5d0;
}
